@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');
* {
 box-sizing: border-box;
}

body {
 background: #4473F4;
 position: relative;
 font-family: 'Roboto', sans-serif;
 color: #FFFFFF;
}

#namer {
 position: relative;
 max-width: 400px;
 margin: 150px auto 0;
}

#namer input {
 border: 0;
 border-bottom: 2px solid #FFFFFF;
 width: 100%;
 font-size: 30px;
 line-height: 35px;
 height: 70px;
 text-align: center;
 padding: 10px;
 background: transparent;
	color: #FFFFFF;
}

#namer input.shake {
 -webkit-animation-name: shaker;
         animation-name: shaker;
 -webkit-animation-duration: 200ms;
         animation-duration: 200ms;
 -webkit-animation-timing-function: ease-in-out;
         animation-timing-function: ease-in-out;
 -webkit-animation-delay: 0s;
         animation-delay: 0s;
}

#namer input:focus {
 outline: 0;
	color: #FFFFFF;
}

#namer input::-webkit-input-placeholder {
 color: #FFFFFF;
}

#namer input::-moz-placeholder {
 color: #FFFFFF;
}

#namer input:-ms-input-placeholder {
 color: #FFFFFF;
}

#namer input::placeholder {
 color: #FFFFFF;
}

.namer-controls {
 position: relative;
 display: block;
 height: 30px;
 margin: 20px 0;
 text-align: center;
 opacity: 0.3;
 cursor: not-allowed;
}

.namer-controls.active {
 opacity: 1;
 cursor: pointer;
}

.namer-controls div {
 float: left;
 width: 33.33%;
}

.namer-controls div span {
 box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
 padding: 10px 5px;
 width: 95%;
 display: inline-block;
 margin-right: 5%;
 border-radius: 30px;
 font-size: 17px;
 text-transform: uppercase;
 letter-spacing: 0.5px;
}

.namer-controls div span:last-child {
 margin-right: 0;
}

.namer-controls div span.active {
 box-shadow: none;
 background-color: #3570DD;
 color: #fff;
}

#namer-input.serious input {
 letter-spacing: 2px;
 text-transform: uppercase;
 font-family: 'Andada', serif;
 font-weight: 500;
}

#namer-input.modern input {
 font-family: 'Raleway', sans-serif;
 text-transform: lowercase;
 font-weight: 300;
 letter-spacing: 10px;
}

#namer-input.cheeky input {
 font-family: 'Permanent Marker', cursive;
 font-size: 40px;
}

@-webkit-keyframes shaker {
 0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  opacity: 0.8;
 }
 10% {
  -webkit-transform: translate(10px, 7px) rotate(-9deg);
          transform: translate(10px, 7px) rotate(-9deg);
  opacity: 0.6;
 }
 20% {
  -webkit-transform: translate(13px, -19px) rotate(-3deg);
          transform: translate(13px, -19px) rotate(-3deg);
  opacity: 0.3;
 }
 30% {
  -webkit-transform: translate(-6px, -6px) rotate(2deg);
          transform: translate(-6px, -6px) rotate(2deg);
  opacity: 0.4;
 }
 40% {
  -webkit-transform: translate(-9px, -18px) rotate(-5deg);
          transform: translate(-9px, -18px) rotate(-5deg);
  opacity: 0.4;
 }
 50% {
  -webkit-transform: translate(10px, -8px) rotate(5deg);
          transform: translate(10px, -8px) rotate(5deg);
  opacity: 0.7;
 }
 60% {
  -webkit-transform: translate(-10px, 14px) rotate(-6deg);
          transform: translate(-10px, 14px) rotate(-6deg);
  opacity: 1;
 }
 70% {
  -webkit-transform: translate(10px, 3px) rotate(6deg);
          transform: translate(10px, 3px) rotate(6deg);
  opacity: 0.1;
 }
 80% {
  -webkit-transform: translate(-2px, 20px) rotate(-6deg);
          transform: translate(-2px, 20px) rotate(-6deg);
  opacity: 1;
 }
 90% {
  -webkit-transform: translate(-7px, -19px) rotate(2deg);
          transform: translate(-7px, -19px) rotate(2deg);
  opacity: 0.5;
 }
}

@keyframes shaker {
 0% {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
  opacity: 0.8;
 }
 10% {
  -webkit-transform: translate(10px, 7px) rotate(-9deg);
          transform: translate(10px, 7px) rotate(-9deg);
  opacity: 0.6;
 }
 20% {
  -webkit-transform: translate(13px, -19px) rotate(-3deg);
          transform: translate(13px, -19px) rotate(-3deg);
  opacity: 0.3;
 }
 30% {
  -webkit-transform: translate(-6px, -6px) rotate(2deg);
          transform: translate(-6px, -6px) rotate(2deg);
  opacity: 0.4;
 }
 40% {
  -webkit-transform: translate(-9px, -18px) rotate(-5deg);
          transform: translate(-9px, -18px) rotate(-5deg);
  opacity: 0.4;
 }
 50% {
  -webkit-transform: translate(10px, -8px) rotate(5deg);
          transform: translate(10px, -8px) rotate(5deg);
  opacity: 0.7;
 }
 60% {
  -webkit-transform: translate(-10px, 14px) rotate(-6deg);
          transform: translate(-10px, 14px) rotate(-6deg);
  opacity: 1;
 }
 70% {
  -webkit-transform: translate(10px, 3px) rotate(6deg);
          transform: translate(10px, 3px) rotate(6deg);
  opacity: 0.1;
 }
 80% {
  -webkit-transform: translate(-2px, 20px) rotate(-6deg);
          transform: translate(-2px, 20px) rotate(-6deg);
  opacity: 1;
 }
 90% {
  -webkit-transform: translate(-7px, -19px) rotate(2deg);
          transform: translate(-7px, -19px) rotate(2deg);
  opacity: 0.5;
 }
}


#hastylink {
  position: fixed;
  bottom:5px;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
	letter-spacing: 1px;
	opacity: 0.5;
}
#hastylink:hover {
	opacity: 1
}